<ol class="breadcrumb">
  {{~#each this.crumbs as |crumb|~}}
    {{~#if crumb.isCurrent~}}
      <li class="active">{{crumb.label}}</li>
    {{~else~}}
      <li>
        {{~#if crumb.linkable~}}
          {{~#if crumb.model~}}
            {{~#if (is-array crumb.model)~}}
              <LinkTo @route={{crumb.path}} @models={{crumb.model}}>{{crumb.label}}</LinkTo>
            {{~else~}}
              <LinkTo @route={{crumb.path}} @model={{crumb.model}}>{{crumb.label}}</LinkTo>
            {{~/if~}}
          {{~else~}}
            <LinkTo @route={{crumb.path}}>{{crumb.label}}</LinkTo>
          {{~/if~}}
        {{~else~}}
          {{crumb.label}}
        {{~/if~}}
      </li>
    {{~/if~}}
  {{~/each~}}
</ol>