{{#if this.renderPanel}}
  <section
    class="panel {{this.variantClassName}} {{if this.collapsed 'closed'}} {{if this.isCollapsible 'panel-collapsible'}}"
    data-test-id={{this.testId}}
    data-collapsed={{this.collapsed}}
    data-collapsible={{this.isCollapsible}}
  >
    {{#if this.hasHeading}}
      <header class="panel-heading {{this.headingClass}}">
        <div class={{if this.hasHeaderButtons "row"}}>
          <div class={{if this.hasHeaderButtons "col-xs-8"}}>
            <UiHeading @class="panel-title" @level="{{this.headingLevel}}">{{this.heading}}</UiHeading>
          </div>

          {{#if this.hasHeaderButtons}}
            <div class="col-xs-4 text-right">
              {{#each this.headerButtons as |btn|}}
                <UiButton
                  @variant={{btn.variant}}
                  @disabled={{btn.disabled}}
                  @icon={{btn.icon}}
                  @onClick={{btn.onClick}}
                  @class={{if btn.class btn.class "mt--10px mb--8px"}}
                >
                  {{~btn.text~}}
                </UiButton>
              {{/each}}

              {{#if this.isCollapsible}}
                <UiPanel::Toggle
                  @isCollapsed={{this.collapsed}}
                  @ariaControls={{this.collapseTargetId}}
                  @onClick={{this.toggleCollapsedState}}
                />
              {{/if}}
            </div>
          {{/if}}
        </div>
      </header>
    {{/if}}

    {{#if this.isCollapsible}}
      <UiCollapse
        @collapsed={{this.collapsed}}
        @id={{this.collapseTargetId}}
        @onShow={{this.handleCollapsablePanelOpen}}
        @onHidden={{this.onHidden}}
      >
        <div class="panel-body">
          {{#component this.uiAsyncBlock
             name=(or this.name this.heading)
             promise=this.promise
          as |asyncResults|}}
            {{#if this.messageManager}}
              <UiAlertBlock @manager={{this.messageManager}} />
            {{/if}}
            {{yield asyncResults}}
          {{/component}}
        </div>
      </UiCollapse>
    {{else}}
      <div class="panel-body">
        {{#component this.uiAsyncBlock
          name=(or this.name this.heading)
          promise=this.promise
        as |asyncResults|}}
          {{#if this.messageManager}}
            <UiAlertBlock @manager={{this.messageManager}} />
          {{/if}}
          {{yield asyncResults}}
        {{/component}}
      </div>
    {{/if}}
  </section>
{{else~}}
  {{yield}}
{{~/if}}
