{{#if this.renderPanel}}
  <section class="panel {{this.variantClassName}}" data-test-id={{this.testId}}>
    {{#if this.hasHeading}}
      <header class="panel-heading {{this.headingClass}}">
        <UiHeading @class="panel-title" @level="{{this.headingLevel}}">{{this.heading}}</UiHeading>
      </header>
    {{/if}}

    <div class="panel-body">
      {{#component this.uiAsyncBlock
        name=(or this.name this.heading)
        promise=this.promise
      as |asyncResults|}}
        {{#if this.messageManager}}
          <UiAlertBlock @manager={{this.messageManager}} />
        {{/if}}

        {{yield asyncResults}}
      {{/component}}
    </div>
  </section>
{{else~}}
  {{yield}}
{{~/if}}
