<h3>Albums</h3>

<ul>
  {{#each this.model.discography as |album|}}
    <li>
      {{#if (-ember-octane)}}
        <LinkTo @route="artists.artist.album" @model={{album.id}}>{{album.name}}</LinkTo>
      {{else}}
        <LinkTo @params={{array "artists.artist.album" album.id}}>{{album.name}}</LinkTo>
      {{/if}}
    </li>
  {{/each}}
</ul>