<h2>Current Rotation</h2>

<ol>
  {{#each this.model as |artist|}}
    <li>
      {{#if (-ember-octane)}}
        <LinkTo @route="artists.artist" @model={{artist.id}}>{{artist.name}}</LinkTo>
      {{else}}
        <LinkTo @params={{array "artists.artist" artist.id}}>{{artist.name}}</LinkTo>
      {{/if}}
    </li>
  {{/each}}
</ol>
