<li
  data-test-id={{this.testId}}
  role={{if this.isTabList "presentation" this.role}}
  class="{{if this.isActiveTab "active"}}{{if this.disabled " disabled"}}"
>
  {{#if this.isTabList}}
    <a
      id="{{this.id}}"
      href="#"
      role="{{if this.disabled "presentation" "tab"}}"
      class="btn-tab{{if this.isActiveTab " active"}}"
      onclick={{this.handleAnchorClick}}
      aria-selected={{if this.isActiveTab "true" "false"}}
      aria-controls={{this.ariaControls}}
      tabindex={{if (or this.disabled this.isActiveTab) "0" "-1"}}
    >
      {{~#if (has-block)~}}
        {{yield (hash isActive=this.isActiveTab)}}
      {{~else~}}
        {{this.text}}
      {{~/if~}}
    </a>
  {{else}}
    {{yield}}
  {{/if}}
</li>