{{!--
The UiTable is designed as a layer-cake of controls whose output is fed to the
input of the next tier down.
--}}
<div
  class="ui-table"
  role="region"
  aria-describedby="{{concat this.tableGuid '-description'}}"
>
  <UiSorter @records={{this.records}} as |Sorter|>
    <UiFilter
      @records={{Sorter.sortedRecords}}
      @filterRules={{this.derivedFilterRules}}
      @filterMethod={{this.filterMethod}}
    as |Filter|>
      <UiPager @records={{Filter.filteredRecords}} as |Pager|>
        {{!--------------------------
            Top Control Bar
        ----------------------------}}
        {{#let
          (component Pager.SizeOptions)
          (component Pager.Navbar
            responsive    = false
            pageLinkCount = 3
          )
          (component Filter.Input
            filters         = this.filters
            showClearButton = this.showFilterClearButton
            placeholder     = this.filterPlaceholder
          )
        as |PagerSizeOptions PagerNavbar FilterInput|}}
          {{#if (has-block "topControlBar")}}
            {{yield (hash
              PagerSizeOptions  = PagerSizeOptions
              PagerNavbar       = PagerNavbar
              FilterInput       = FilterInput
              pagerDescription  = Pager.description
            ) to="topControlBar"}}
          {{else}}
            <UiTable::ControlBar
              @pagerSizeOptions={{PagerSizeOptions}}
              @pagerNavbar={{PagerNavbar}}
              @filterInput={{FilterInput}}
              @pagerDescription={{Pager.description}}
              @showPagerSizeOptions={{this.pagingEnabled}}
              @showFilterInput={{this.filterEnabled}}
              @showPagerDescription={{this.pagingEnabled}}
              @showPagerNavbar={{this.pagingEnabled}}
            />
          {{/if}}
        {{/let}}

        {{!--------------------------
            Table Proper
        ----------------------------}}
        <table
          class="table table-striped table-responsive"
          ...attributes
          id="{{this.tableGuid}}"
          aria-describedby="{{concat this.tableGuid "-description"}}"
        >
          {{#if (has-block "caption")}}
            <caption>
              {{yield to="caption"}}
            </caption>
          {{else if this.caption}}
            <caption>{{this.caption}}</caption>
          {{/if}}

          <thead>
            {{#if (has-block "thead")}}
              {{yield (hash Th=(component "ui-table/th" sortCriterion=Sorter.Criterion)) to="thead"}}
            {{else if this.columns}}
              <tr>
                {{#each this.columns as |column|}}
                  <UiTable::Th
                    @label={{column.label}}
                    @propertyName={{column.propertyName}}
                    @sortOn={{column.sortOn}}
                    @sortDirection={{column.sortDirection}}
                    @subSortOn={{column.subSortOn}}
                    @subSortDirection={{column.subSortDirection}}
                    @description={{column.description}}
                    @recordSet={{Filter.filteredRecords}}
                    @sortCriterion={{Sorter.Criterion}}
                  />
                {{/each}}
              </tr>
            {{/if}}
          </thead>

          <tbody>
            {{#if (has-block "row")}}
              {{#each (if this.pagingEnabled Pager.pageRecords Filter.filteredRecords) as |record index|}}
                {{yield record index to="row"}}
              {{/each}}
            {{else if this.columns}}
              {{#each (if this.pagingEnabled Pager.pageRecords Filter.filteredRecords) as |record|}}
                <tr>
                  {{#each this.columns as |column|}}
                    <td>{{get record column.propertyName}}</td>
                  {{/each}}
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>

        <div class="sr-only" aria-live="polite" id="{{concat this.tableGuid "-description"}}">
          {{#if this.pagingEnabled}}{{Pager.description}}{{/if}}
          {{Sorter.description}}
          {{Filter.description}}
        </div>

        {{!--------------------------
            Bottom Control Bar
        ----------------------------}}
        {{#let
          (component Pager.SizeOptions)
          (component Pager.Navbar
            responsive    = false
            pageLinkCount = 3
          )
          (component Filter.Input
            filters         = this.filters
            showClearButton = this.showFilterClearButton
            placeholder     = this.filterPlaceholder
          )
        as |PagerSizeOptions PagerNavbar FilterInput|}}
          {{#if (has-block "bottomControlBar")}}
            {{yield (hash
              PagerSizeOptions  = PagerSizeOptions
              PagerNavbar       = PagerNavbar
              FilterInput       = FilterInput
              pagerDescription  = Pager.description
            ) to="bottomControlBar"}}
          {{else}}
            <UiTable::ControlBar
              @pagerSizeOptions={{PagerSizeOptions}}
              @pagerNavbar={{PagerNavbar}}
              @filterInput={{FilterInput}}
              @pagerDescription={{Pager.description}}
              @showPagerSizeOptions={{false}}
              @showFilterInput={{false}}
              @showPagerDescription={{this.pagingEnabled}}
              @showPagerNavbar={{this.pagingEnabled}}
            />
          {{/if}}
        {{/let}}
      </UiPager>
    </UiFilter>
  </UiSorter>
</div>