{{~#if this.renderIconLeft~}}
  <UiIcon @name="{{this.iconClassName}}" @fw={{this.fw}} @spin={{this.spin}} @pending={{this.pending}} />
{{~/if~}}

{{~#if this.renderIcon~}}
  {{!--
    If an icon has been provided without any text, and the button does not have block content,
    then this wrapper span will cause the icon to not be centered. It's possible that aria-label
    has been added and the purposeful intent is to only show an icon.
  --}}
  {{~#if (or this.text (and (has-block) this.doesParentHaveBlockContent))~}}
    <span class="{{this.textClassName}}">
      {{~#if (has-block)}}{{yield}}{{else}}{{this.text}}{{/if~}}
    </span>
  {{~/if~}}
{{~else~}}
  {{#if (has-block)}}{{yield}}{{else}}{{this.text}}{{/if}}
{{~/if~}}

{{~#if this.renderIconRight~}}
  <UiIcon @name="{{this.iconClassName}}" @fw={{this.fw}} @spin={{this.spin}} @pending={{this.pending}} />
{{~/if~}}