{{~#if this.renderIconLeft~}}
  <UiIcon @name="{{this.iconClassName}}" @fw={{this.fw}} @spin={{this.spin}} @pending={{this.pending}} />
{{~/if~}}

{{~#if this.renderIcon~}}
  <span class="{{this.textClassName}}">
    {{~#if (has-block)}}{{yield}}{{else}}{{this.text}}{{/if~}}
  </span>
  {{~else~}}
  {{#if (has-block)}}{{yield}}{{else}}{{this.text}}{{/if}}
{{~/if~}}

{{~#if this.renderIconRight~}}
  <UiIcon @name="{{this.iconClassName}}" @fw={{this.fw}} @spin={{this.spin}} @pending={{this.pending}} />
{{~/if~}}