<div class="container">
  <div class="jumbotron">
    <h1>@nsf/ui-foundation</h1>
  </div>

  <UiBreadCrumbs />

  <UiPanel @heading="Main Menu" @startCollapsed={{true}}>
    <ul class="mb-0px">
      {{#if (-ember-octane)}}
        <li><LinkTo @route="playground">Playground</LinkTo></li>
        <li><LinkTo @route="artists">Musical Artists</LinkTo></li>
      {{else}}
        <li><LinkTo @params={{array "playground"}}>Playground</LinkTo></li>
        <li><LinkTo @params={{array "artists"}}>Musical Artists</LinkTo></li>
      {{/if}}
    </ul>
  </UiPanel>

  {{outlet}}
</div>
